<div class="container main-container" style="margin: 2% 8% 2% 8%; padding: 15px; background: white; min-height: 300px;">
    <form [formGroup]='forma' class="prueba" style=" height: 420px !important" (ngSubmit)="onSubmit()">
        <div class="card" style="padding: 20px; height: 180px;">

            <div class="col-md-4">
                <p style="margin-top: 0.3%"><strong>PROCESA ARCHIVOS ART</strong></p>
            </div>

            <div class="row">

                <div class="col">
                    <p style="margin-bottom: 0.8rem">Tipo de documento</p>
                    <mat-form-field class="input-sel" style="padding-top: 0px; border-top: 0px;">
                        <mat-label style="color: #942739;">xxxx</mat-label>
                        <select matNativeControl required>
                            <option value="volvo">documento a</option>
                            <option value="saab">documento b</option>
                            <option value="mercedes">documento c</option>
                            <option value="audi">documento d</option>
                        </select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field style="padding-top: 0px; border-top: 0px;">
                        <a href="." style="text-decoration: none;">Descargar planilla</a>
                        <mat-icon>arrow_downward</mat-icon>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field style="padding-top: 0px; border-top: 0px;">
                        <label for="subirArchivos">Subir archivo:</label>
                        <input type="file" (change)="convertToBase64()" id="archivo" name="archivo"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" >
                        <!-- accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" -->
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <button type="submit" class="input-btn" >Procesar</button>
                    </mat-form-field>
                </div>

            </div>

        </div>
    </form>
</div>
